<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main/main}">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<head>
    <title>Rent - Forgotten password</title>
    <link rel="stylesheet" href="../../static/css/bootstrap-4.5.2/bootstrap.min.css" th:href="@{/css/bootstrap-4.5.2/bootstrap.min.css}"/>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="../../static/css/auth/authpages.css" th:href="@{/css/auth/authpages.css}"/>
    <script src="/../../static/js/auth/auth.js" th:src="@{/js/auth/auth.js}"></script>
</head>
<body>
    <div layout:fragment="main-content">
        <div class="middle-40-percent">
            <h2 th:text="#{forgotten_title}">Forgotten password</h2>
            <div th:unless="${#lists.isEmpty(messageList)}" th:replace="auth/messages :: messages">messages fragment</div>
            <form id="forgotform" name="forgot" action="/generatepassword" method="post" class="auth-border">
                <div th:text="#{forgotten_instruction}"></div>
                <label for="email"></label>
                <input type="email" id="email" name="email" class="form-control" th:placeholder="#{emailAddr}" required=""/>
                <button id="reset" type="submit" th:text="#{forgotten_resetPassword}" class="btn btn-primary">Reset password</button>
            </form>
        </div>
    </div>
</body>
</html>