<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main/main}">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<head>
    <title>Rent - Login</title>
    <link rel="stylesheet" href="../../static/css/bootstrap-4.5.2/bootstrap.min.css" th:href="@{/css/bootstrap-4.5.2/bootstrap.min.css}"/>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="../../static/css/auth/authpages.css" th:href="@{/css/auth/authpages.css}"/>
    <script src="/../../static/js/auth/auth.js" th:src="@{/js/auth/auth.js}"></script>
</head>
<body>
    <div layout:fragment="main-content">
        <div id="scrollframe">
            <div class="middle-40-percent">
                <h2 id="logintitle" th:text="#{titleLogin}">Login</h2>
                <div th:unless="${#lists.isEmpty(messageList)}" th:replace="auth/messages :: messages">messages fragment</div>
                <form id="loginform" name="login" action="/login" method="post" class="form-border">
                    <label for="username"></label>
                    <input type="text" id="username" name="username" class="form-control" th:placeholder="#{usernameOrEmail}" required="" value="czakotamas@freemail.hu"/>
                    <label for="password"></label>
                    <input type="password" id="password" name="password" class="form-control" th:placeholder="#{password}" required="" value="jelszo"/>
                    <button type="submit" th:text="#{authButtonLogin}" class="btn btn-primary btn-block">Login</button>
                </form>
                <a id="loginforgot" href="/forgottenpassword" th:text="#{forgottenPassword}" class="auth-link-right">I forgot my
                    password</a>
            </div>
        </div>
    </div>
</body>
</html>