<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rent - auth - messages</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="../../static/css/auth.css" th:href="@{/css/auth.css}"/>
</head>
<body>
    <div th:fragment="messages" th:if="${messages}">
        <div th:each="message : ${messages.htmlMessages}" th:utext="${message.text}" class="auth-message" th:classappend="${message.cssClass}">
            Any Message
        </div>
    </div>
</body>
</html>
