<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rent - messages</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/auth/authmessages.css" th:href="@{/css/auth/authmessages.css}"/>
</head>
<body>
    
    <div th:fragment="messages">
        <div th:each="message : ${messageList}">
            <div th:text="${message.text}" th:class="auth-message" th:classappend="${message.cssClass}">
                message
            </div>
        </div>
    </div>
    
</body>
</html>
