<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main/main}">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<head>
    <title>Rent - Registration</title>
    <link rel="stylesheet" href="../../static/css/bootstrap-4.5.2/bootstrap.min.css" th:href="@{/css/bootstrap-4.5.2/bootstrap.min.css}"/>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="../../static/css/auth/authpages.css" th:href="@{/css/auth/authpages.css}"/>
    <script src="/../../static/js/auth/auth.js" th:src="@{/js/auth/auth.js}"></script>
</head>
<body>
    <div layout:fragment="main-content">
        <div class="middle-40-percent">
            <h2 id="registrationtitle" th:text="#{titleRegistration}">Registration</h2>
            <div th:unless="${#lists.isEmpty(messageList)}" th:replace="auth/messages :: messages">messages fragment</div>
            <form id="registrationform" name="registrationform" action="/registrationprocess" method="post" class="form-border">
                <label for="regFullName"></label>
                <input type="text" id="regFullName" name="regFullName" placeholder="Full name" th:placeholder="#{fullName}" required="" class="form-control"/>
                <label for="regEmail"></label>
                <input type="email" id="regEmail" name="regEmail" placeholder="Email" th:placeholder="#{emailAddr}" required="" class="form-control"/>
                <label for="regPassword"></label>
                <input type="password" id="regPassword" name="regPassword" placeholder="Password" th:placeholder="#{password}" required="" class="form-control"/>
                <label for="confirmPwd"></label>
                <input type="password" id="confirmPwd" name="confirmPwd" placeholder="Confirm password" th:placeholder="#{confirmPwd}" required="" class="form-control"/>
                <div id="pwdmismatchmsg" style="display: none" th:text="#{pwdMismatch}"></div>
                <button id="regButton" type="submit" th:text="#{authButtonRegistration}" class="btn btn-primary btn-block">Registration</button>
            </form>
        </div>
    </div>
</body>
</html>