<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/main}">
<head>
    <title>Rent - header</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../static/css/header.css" th:href="@{/css/header.css}"/>
</head>
<body>
    <header th:fragment="header" class="top-bar">
        <div class="top-bar-left">
                <a id="headerlogo" href="/">
                        <span class="logo-head">R</span><span class="logo-tail">ent</span>
                </a>
        </div><!-- eliminating whitespace gap from newline
     --><div class="top-bar-right">
            <nav class="tbr-top">
                <div id="languagelinks">
                    <a href="?lang=hu">HU</a>
                    <span class="separator">|</span>
                    <a href="?lang=en">EN</a>
                </div>
            </nav>
            <nav class="tbr-bottom">
                <div id="headermenu">
                    <div sec:authorize="isAuthenticated()" class="user">
                        <span>E-mail: </span>
                        <strong><span th:text="${#authentication.getPrincipal().getUsername()}">E-mail Address</span></strong>
                        <span class="separator">|</span>
                        <span th:text="#{headerName}">Name: </span>
                        <strong><span th:text="${#authentication.getPrincipal().getFullName()}">Full Name</span></strong>
                    </div> 
                    <span  sec:authorize="!isAuthenticated()" id="authlinks">
                        <a th:if="${adminExists}" id="loginlink" href="/login?holdmessages=true" class="button">
                            <span th:text="#{buttonLogin}">login</span>
                        </a>
                        <a id="registrationlink" href="/registration?holdmessages=true" class="button">
                            <span th:text="#{buttonRegistration}">registration</span>
                        </a>
                    </span>
                    <span sec:authorize="isAuthenticated()">
                        <a href="/logout" class="button" th:text="#{buttonLogout}">logout</a>
                    </span>
                </div>
            </nav>
        </div>
        <script>let rentLocal = "[[#{local}]]";</script>
        <script src="/../../static/js/header.js" th:src="@{/js/header.js}"></script>
    </header>
</body>
</html>
