<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Rent</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<link rel="stylesheet" href="../../static/css/bootstrap-4.5.2/bootstrap.min.css" th:href="@{/css/bootstrap-4.5.2/bootstrap.min.css}"/>-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="../../../static/css/layout/main/main.css" th:href="@{/css/layout/main/main.css}"/>
    <link rel="stylesheet" href="../../../static/css/layout/main/header.css" th:href="@{/css/layout/main/header.css}"/>
    <link rel="stylesheet" href="../../../static/css/layout/main/menu.css" th:href="@{/css/layout/main/menu.css}"/>
</head>
<body>
<!--
    optional tabs fregment: tabs or empty
    optional frame: frame + content or only content

    <iframe th:src="${#lists.isEmpty(selectedMenuItem.tabs)} ?
                            ${selectedMenuItem.controllerUri} : ${selectedMenuItem.selectedTab.controllerUri}"
        onload="resizeIframe(this)">
        IFrameForContent
    </iframe>

-->
    <div  id="tabs" th:replace="layout/tabbedcontent/tabs :: tabs">
        Tabs
    </div>
    <div id="frame-for-tabbed-content" class="framed_panel">
        <div id="content" layout:fragment="content">
            content fragment
        </div>

    </div>
</body>
</html>
