<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rent - Tabs</title>
</head>
<body>
    <div id="tabs" th:fragment="tabs">
    <!--/*@thymesVar id="selectedMenuItem" type="com.rent.domain.menu.MenuItem"*/-->
    <!--/*@thymesVar id="tab" type="com.rent.domain.menu.Tab"*/-->
        <nav>
            <ul>
                <li th:each="tab : ${selectedMenuItem.tabs}" th:if="${tab.available}"
                    th:class="(${selectedMenuItem.selectedTab.reference} == ${tab.reference}) ? 'tabcurrent' : 'tabplain'">
                    <a th:href="${tab.controllerUri}"
                       th:text="#{__${tab.reference}__}">
                        TabLink
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>