<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <title>Rent - Authorized Content Frame</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../static/css/layout/contentframe.css" th:href="@{/css/layout/contentframe.css}"/>
</head>
<body>
    <!--/*@thymesVar id="selectedMenuItem" type="com.rent.domain.menu.MenuItem"*/-->
    <div id="content" layout:fragment="content">
        <!--/*@thymesVar id="reference" type="java.lang.String"*/-->
        <h1 id="content-title" th:text="#{__${selectedMenuItem.reference}__}">
            Content title
        </h1>
        <iframe th:src="${#lists.isEmpty(selectedMenuItem.tabs)} ?
                                    ${selectedMenuItem.controllerUri} : ${selectedMenuItem.selectedTab.controllerUri}">
            IFrameForContent
        </iframe>
    </div>
</body>
</html>
