<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/main}">
<head>
    <title>Rent - header</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../static/css/layout/header.css" th:href="@{/css/layout/header.css}"/>
</head>
<body>
    <!--/*@thymesVar id="role" type="com.rent.domain.Role"*/-->
    <!--/*@thymesVar id="adminExists" type="java.lang.Boolean"*/-->
    <header id="header" th:fragment="header">
        <div id="header-left">
            <a    th:unless="${#httpServletRequest.getRequestURI() == '/'} or ${#authorization.expression('isAuthenticated()')}"
                  th:insert=":: headerlogo"
                  id="headerlogoanchor" href='/'>
            </a>
            <span th:if="${#httpServletRequest.getRequestURI() == '/'} or ${#authorization.expression('isAuthenticated()')}"
                  th:insert=":: headerlogo">
            </span>
            <span style="display: none">
                <span id="headerlogo" th:fragment="headerlogo">
                    <span  id="logo-head">R</span><span id="logo-tail">ent</span>
                </span>
            </span>
        </div><!-- eliminating whitespace gap from newline
     --><div id="header-right">
            <div id="header-right-top">
                <nav id="languagelinks">
                    <a href="?lang=hu">HU</a>
                    <span class="separator">|</span>
                    <a href="?lang=en">EN</a>
                </nav>
            </div>
            <div id="header-right-bottom">
                <div id="headermenu">
                    <div sec:authorize="isAuthenticated()" class="user">
                        <span>E-mail: </span>
                        <strong><span th:text="${#authentication.getPrincipal().getUsername()}">E-mail Address</span></strong>
                        <span class="separator">|</span>
                        <span th:text="#{headerNameTitle}">Name: </span>
                        <strong><span th:text="${#authentication.getPrincipal().getFullName()}">Full Name</span></strong>
                        <span class="separator">|</span>
                        <span th:text="#{headerRoleTitle}">Role: </span>
                        <form id="roleselectorform" action="/roleselection" method="post"
                              th:unless="${#authentication.getPrincipal().getAuthorities().size()} == 1">
                            <strong>
                                <label for="roleselector"></label>
                                <select id="roleselector" name="roleselector">
                                    <!--/*@thymesVar id="authority" type="org.springframework.security.core.authority.SimpleGrantedAuthority"*/-->
                                    <!--/*@thymesVar id="currentRole" type="com.rent.domain.Role"*/-->
                                    <option th:each="authority: ${#authentication.getPrincipal().getAuthorities()}"
                                            th:value="${authority.getAuthority().substring(5)}"
                                            th:text="#{__${authority.getAuthority().substring(5)}__}"
                                            th:selected="${authority.getAuthority().substring(5)} == ${currentRole.name()}">
                                        Role list
                                    </option>
                                </select>
                            </strong>
                            <span style="display: none">
                                <input type="submit" name="submitname" value="Submit"/>
                            </span>
                        </form>
                        <strong>
                            <span id="roleselectsingle"
                                  th:if="${#authentication.getPrincipal().getAuthorities().size()} == 1"
                                  th:text="#{__${#authentication.getPrincipal().getAuthorities()[0].getAuthority().substring(5)}__}">
                                Single role
                            </span>
                        </strong>
                    </div>
                    <span  sec:authorize="!isAuthenticated()" id="authlinks">
                        <a th:if="${adminExists}" id="loginlink" href="/login?holdmessages=true" class="button">
                            <span th:text="#{headerButtonLogin}">login</span>
                        </a>
                        <a id="registrationlink" href="/registration?holdmessages=true" class="button">
                            <span th:text="#{headerButtonRegistration}">registration</span>
                        </a>
                    </span>
                    <span sec:authorize="isAuthenticated()">
                        <a href="/logout" class="button" th:text="#{buttonLogout}">logout</a>
                    </span>
                </div>
            </div>
        </div>
        <script>let rentLocal = "[[#{local}]]";</script>
        <script src="/../../static/js/layout/header.js" th:src="@{/js/layout/header.js}"></script>
    </header>
</body>
</html>
