<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"-->
<head>
    <title>Rent - menu</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../static/css/layout/menu.css" th:href="@{/static/css/layout/menu.css}"/>
</head>
<body>
    <nav id="menu" th:fragment="menu">
        <div id="menuitem">
            <!--/*@thymesVar id="menuItems" type="java.util.List<MenuItem>"*/-->
            <span th:each="menuItem : ${menuItems}">
                <a th:if="${menuItem.available}"
                   th:href="'/menuselect' + ${menuItem.controllerUri}"
                   th:text="#{__${menuItem.reference}__}">
                    Menu item
                </a>
            </span>
        </div>
    </nav>
</body>
</html>
