<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/main}">
<head>
    <title>Rent - menu</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../static/css/menu.css" th:href="@{/css/menu.css}"/>
</head>
<body>
    <nav id="menu" th:fragment="menu">
        <div id="menuitem">
            <a th:each="menuItem : ${menuItems}"
               th:href="'/menuselect/' + ${menuItem.contentPageUri}"
               th:text="#{__(${menuItem.displayNameKey})__}">
                Menu item
            </a>
        </div>
    </nav>
</body>
</html>
