/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.10.26., 14:51:28
    Author     : czakot
*/
#content-title {
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #1f6991;
    margin: 5px 3px 20px;
    padding: 2px 0 0 1px;
    border-bottom: 1px solid #e95d0f;
    line-height: 150%;
}

iframe {
    width: 100%;
    /*height: 100%;*/
    /*height: auto;*/
    overflow: hidden;
    border: 0;
}
