body {
    min-width: 1024px;
    margin: 0; /* override default 8px */
}

*, ::before, ::after {
    box-sizing: border-box;
}

html, body, #lev0-grid-container {
    height: 100%;
    overflow-y: hidden;
}

/*
body > .wrap {
    height: calc(100% - 30px);
    !*height: auto;*!
    min-height: calc(100% - 30px);
    !*min-height: 100%;*!
    padding-bottom: 30px; !*should be same height as the footer height *!
}

*/

#lev0-grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 82px auto 30px;
    grid-row-gap: 20px;
    /*grid-template-columns: max-content auto;*/
    /*grid-column-gap: 20px;*/
    /*
    height: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: max-content auto ;
    grid-template-rows: 100%;
    !* margin-bottom should be 0: *!
    grid-gap: 20px;
    !* instead of #menu margin-right: 20px and this next *!
    !*margin: 40px 20px 0px 20px;*!
    !* it is necessary in case menu would overflow at bottom: *!
    !* overflow-y: auto; *!
    padding: 30px 20px 30px 20px;
    */
    /*padding: 0 20px 0 20px;*/
}

header {
    // in lev0-grid-container
    grid-area: 1 / 1 / 2 / 2;
    /*grid-area: 1 / 1 / 2 / 3;*/
}

#main {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    /*display: flex;*/
    /*margin-left: 20px;*/
    /*margin: 10px 20px 0px 20px; !* margin-bottom should be 0 *!*/
    overflow: auto;
}

/*
#menuempty {
    width: 0px;
    grid-area: 2 / 1 / 3 / 2;
}
*/

#menu {
    grid-area: 1 / 1 / 2 / 2;
    /*flex: 0 0 200px;*/
    /*
    grid-area: menu;
    grid-area: 2 / 1 / 3 / 2;
    */
    /* menuitem already has width: 200px */
    font-size: 14px;
    /* substituted in container's grid-gap: 20px; */
    margin-left: 20px;
    margin-right: 20px;
    /*padding-left: 20px;*/
}

#content {
    /*grid-area: 2 / 2 / 3 / 3;*/
    flex-grow: 1;
    /*vertical-align: top;*/
    /*padding-right: 20px;*/
    margin-right: 20px;
}

footer {
    grid-area: 3 / 1 / 4 / 2;
    /*grid-area: 3 / 1 / 4 / 3;*/
    /*padding: 0 20px 0 20px;*/
}

:root {
    font-family: -apple-system,BlinkMacSystemFont,
                 "Segoe UI",
                 Roboto,
                 "Helvetica Neue",
                 Arial,
                 "Noto Sans",
                 sans-serif,
                 "Apple Color Emoji",
                 "Segoe UI Emoji", "Segoe UI Symbol",
                 "Noto Color Emoji",
                 SFMono-Regular,
                 Menlo,
                 Monaco,
                 Consolas,
                 "Liberation Mono",
                 "Courier New",
                 monospace;    
}
