#menuitem a {
    width: 200px;
    display: block;
    text-decoration: none;
    color: var(--rent-white);
    background-color: var(--rent-blue);
    padding: 12px;
    border-bottom: 1px solid var(--rent-blue-deep);

    /* strip too long text or replace overflow part with ellipsis ('...') */
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

#menuitem a:last-child {
    border-bottom: none;
}

#menuitem a:hover {
    background-color: var(--rent-orange);
}

