.tabbed-grid {
    min-height: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content minmax(auto, max-content);
}

#tabs, #tabs nav, #tabs ul, #tab {
    margin: 0;
    padding: 0;
}

#tabs {
    border: none;
    outline: none;
    background: transparent;
    font-size: 100%;
    /*line-height: 100%;*/
}

#tabs ul {
    /*    for eliminating extra gap between <il> (or included <a>) tags, but creating gap under*/
    font-size: 0;
    list-style-type: none;
}

#tabs li {
    display: inline-block;
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    border-color: #93a543;
    /*margin-right: 2px;*/
}

.li-bottom-border-none {
    border-bottom: none;
}

#tabs a {
    color: #000;
    text-decoration: none;
    text-align: center;
    /*vertical-align: middle;*/
    padding: 5px;
    /*padding: 4px 5px 1px 5px;*/
}

li.tabplain {
    background: #EEEEEE;
    /*border-color: #B0B0B0;*/
}

li.tabcurrent {
    background: #93a543;
}

.framed_panel {
    padding: 20px;
    background: #fff;
    border: solid 1px #93a543;
}
