<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main/main}">
<head>
    <title>Rent - Authorized Content Frame</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../../static/css/layout/main/maincontentframe.css" th:href="@{/css/layout/main/maincontentframe.css}"/>
    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>
</head>
<body>
    <!--/*@thymesVar id="selectedMenuItem" type="com.rent.domain.menu.MenuItem"*/-->
    <div id="main-content" layout:fragment="main-content">
        <!--/*@thymesVar id="reference" type="java.lang.String"*/-->
        <h1 id="main-content-title" th:text="#{__${selectedMenuItem.reference}__}">
            Main-content title
        </h1>
        <iframe th:src="${#lists.isEmpty(selectedMenuItem.tabs)} ?
                                    ${selectedMenuItem.controllerUri} : ${selectedMenuItem.selectedTab.controllerUri}"
                onload="resizeIframe(this)">
            IFrameForContent
        </iframe>
    </div>
</body>
</html>
