<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main/main}">
<head>
    <title>Rent - Authorized Content Frame</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../../../static/css/layout/main/contentframe.css" th:href="@{/css/layout/main/contentframe.css}"/>
    <script src="../../../../static/js/layout/main/iframeheight.js" th:src="@{/js/layout/main/iframeheight.js}"></script>
</head>
<body>
    <!--/*@thymesVar id="selectedMenuItem" type="com.rent.domain.menu.MenuItem"*/-->
    <div id="main-content" layout:fragment="main-content">
        <!--/*@thymesVar id="reference" type="java.lang.String"*/-->
        <h1 id="main-content-title" th:text="#{__${selectedMenuItem.reference}__}">
            Main-content title
        </h1>
        <iframe id="ifrm"
                title="content"
                th:src="${#lists.isEmpty(selectedMenuItem.tabs)} ?
                        ${selectedMenuItem.controllerUri} : ${selectedMenuItem.selectedTab.controllerUri}">
            IFrame for optional tabs and content (height need to be set in js onload)
        </iframe>
    </div>
</body>
</html>
