/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.10.26., 20:13:49
    Author     : czakot
*/
body {
    margin: 0; /* override default 8px */
}

#tabsform {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;

    /*
    font-size: 100%;
    line-height: 150%;
    */
}

#tabsform > nav {
    /*width: 772px;*/
    /*list-style: none;*/
    /*list-style-type: none;*/
    padding: 0;
    margin: 0;
}

#tabsform > nav > a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 4px 5px;
    /*height: 32px;*/
    /*line-height: 32px;*/
    font-size: 14px;
    margin-right: 2px;
}

.tabplain {
    background: #F5F5F5;
    border: solid 1px #CACACA;
}

.tabcurrent {
    background: #93a543;
    border: solid 1px #93a543;
}

.framed_panel {
    padding: 20px;
    background: #fff;
    border: solid 1px #93a543;
}

