/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.10.26., 20:13:49
    Author     : czakot
*/
body {
    margin: 0; /* override default 8px */
    padding: 0;
    height: min-content;
    /*height: 100%;*/
    /*min-height: 100%;*/
    overflow-y: hidden;
}

#contentinner {
    height: min-content;
    overflow: auto;
}

:root {
    font-family: -apple-system,BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji",
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
}

