<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rent - Real estate manual add</title>
    <link rel="stylesheet" href="../../static/css/layout/tabs.css" th:href="@{/css/layout/tabs.css}"/>
    <link rel="stylesheet" href="../../static/css/rootcontent/contentcommon.css" th:href="@{/css/rootcontent/contentcommon.css}"/>
</head>
<body>
    <div th:replace="layout/tabs :: tabs"></div>

    Real estate manual add
</body>
</html>