<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/tabbedcontent/tabbedcontent}">
<head>
    <meta charset="UTF-8">
    <title>Rent - Real estate import</title>
</head>
<body class="tabbed-grid">
            <div id="content" layout:fragment="content">
                <p>1. Real estate import</p>
                <p>2. Real estate import</p>
                <p>3. Real estate import</p>
                <p>4. Real estate import</p>
                <p>5. Real estate import</p>
                <p>6. Real estate import</p>
                <p>7. Real estate import</p>
                <p>8. Real estate import</p>
            </div>
</body>
</html>