<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/main}">
-->
<head>
    <meta charset="UTF-8">
    <title>Rent - Real estates</title>
    <link rel="stylesheet" href="../../static/css/layout/tabs.css" th:href="@{/css/layout/tabs.css}"/>
</head>
<body>
    <div th:replace="layout/tabs :: tabs"></div>
</body>
</html>