/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.09.30., 14:37:36
    Author     : czakot
*/
#content {
    min-height: 100%;
    min-width: 100%;
    
}

.menu-container, .core-container {
    border-color: greenyellow;
    border-width: 2px;
    display: inline-block;
    /*text-align: center;*/
    margin: 1rem;
}

.menu-container {
    max-width: 200px;
    background-color: #1f6991;
    padding: 0;
    
}

.core-container {
    border-style: dashed;
    /*width: calc(100% - 200px);*/
}

