/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2020, 2:37:16 PM
    Author     : czakot
*/

.top-bar {
    max-width: 95%;
    height: 82px;
    margin: auto;
    margin-top: 1rem;
}

.top-bar .top-bar-left, .top-bar .top-bar-right {
    display: inline-block;
    border-style: solid;
    box-sizing: border-box;
}

.top-bar .top-bar-left {
    width: 40%;
    border-width: 1px 0 1px 1px;
    border-radius: 10px 0 0 10px;
    border-color: #dddddd;
    background-color: #f8f9fa;
    text-align: center;
}

.top-bar .top-bar-left #headerlogoanchor {
    text-decoration: none;
}

#headerlogo {
    line-height: 80px;
    font-size: 300%;
    font-style: italic;
}

#headerlogo .logo-head {
    font-weight: 900;
    color: green;
}

#headerlogo .logo-tail {
    color: #000;
}

.top-bar .top-bar-right {
    width: 60%;
    border-width: 1px 1px 1px 0px;
    border-radius: 0 10px 10px 0;
    border-color: #555555;
    vertical-align: top;
}

.top-bar .top-bar-right .tbr-top, .top-bar .top-bar-right .tbr-bottom {
    text-align: right;
    padding-right: 20px;
} 

.top-bar .top-bar-right .tbr-top {
    height: 30px;
    line-height: 30px;
    background-color: #024d6b;
    font-size: 80%;
    border-radius: 0 9px 0 0;
}

.top-bar .top-bar-right .tbr-bottom {
    height: 50px;
    line-height: 50px;
    background-color: #1f6991;
    border-radius: 0 0 9px 0;
}

#languagelinks {
    font-weight: 900;
    color: #fff;
}

#languagelinks span {
    opacity: 0.42;
}
#languagelinks a {
    color: #fff;
    opacity: 0.42;
    text-decoration: none;
}

#languagelinks a.activelanguage {
    opacity: 1;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

#headermenu {
    display: inline-block;
}

#headermenu .user, #headermenu .button {
    color: #fff;
}

#headermenu .user {
    display: inline-block;
    font-size: 12px;
    padding-right: 10px;
}

#headermenu .button {
    display: inline-block;
    background-color: #e95d0f;
    height: 30px;
    line-height: 30px;
    border-width: 0;
    border-radius: 40px;
    padding: 0 15px;
    margin: 0 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
}

.top-bar .separator {
    padding: 0 5px;
}
