/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2020, 11:56:44 AM
    Author     : czakot
*/

#menuitem a {
    width: 200px;
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #1f6991;
    padding: 10px;
    border-bottom: 1px solid #175576;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

#menuitem a:hover {
    background-color: #e95d0f;
}

