<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/main}">
<head>
    <title>Rent - Authorized Content Frame</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/content.css" th:href="@{/css/contentframe.css}"/>
</head>
<body>
    <div id="content" layout:fragment="content">
        <h1 id="content-title" th:text="#{__(${selectedMenuItem.contentPageRef})__}">
            Content title
        </h1>
        <iframe  id="content-body"
                 th:src="'/' + ${selectedMenuItem.contentPageRef}"
                 title="Rent individual action pages">
                 <!--frameBorder="0">-->
        </iframe>
    </div>
</body>
</html>
