<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main}">
<head>
    <title>Rent - Dashboard</title>
    <meta charset="UTF-8"/>
</head>
<body>

    <div id="dashboardfragment" layout:fragment="content">
        <div id="hudashboard"  th:if="#{local} == 'hu'">
            <div >Vezérlőpult</div>
        </div>
        <!--<div id="enwelcome"  th:if="#{local} != 'hu'">  supposed local = "hu" --> 
        <div id="endashboard"  th:if="#{local} == 'en'">
            <div >Dashboard</div>
        </div>
    </div>

</body>
</html>
