<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main/main}">
<head>
    <meta charset="UTF-8"/>
    <title>Rent</title>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}"/>
</head>
<body>
    <div id="welcomefragment" layout:fragment="main-content">
        <div id="huwelcome"  th:if="#{local} == 'hu'">
            <div >Üdvözlet a RENT oldalán!</div>
        </div>
        <!--<div id="enwelcome"  th:if="#{local} != 'hu'">  supposed local = "en" --> 
        <div id="enwelcome"  th:if="#{local} == 'en'">
            <div >Welcome at RENT!</div>
        </div>
    </div>
</body>
</html>
