/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2020, 2:12:12 PM
    Author     : czakot
*/

#scrollframe {
    overflow-y: auto;
}

.middle-40-percent {
    width: 40%;
    margin: auto;
}

.form-border {
    padding: 0px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #dddddd;
}

.form-border input[type="text"], input[type="password"],
             button[type="submit"], input[type="email"] {
    margin-top: 20px;
}

#pwdmismatchmsg {
    font-size: 60%;
    color: red;
}