#main-content-title {
    font-size: 20px;
    font-weight: normal;
    color: var(--rent-blue);
    margin: 5px 3px 5px 3px;
    padding-left: 5px;
    border-bottom: 1px solid var(--rent-orange);
    /*line-height: 150%;*/
}

iframe {
    width: 100%;
    border: none;
    margin: 0;
    overflow: hidden;
}


