#header {
    height: 82px;
}

#header-left, #header-right {
    display: inline-block;
    border-style: solid;
    box-sizing: border-box;
}

#header-left {
    width: 30%;
    border-width: 1px 0 1px 0;
    border-color: var(--rent-gray-deep);
    background-color: var(--rent-gray-light);
    text-align: center;
}

#headerlogoanchor {
    text-decoration: none;
}

#headerlogo {
    line-height: 80px;
    font-size: 300%;
    font-style: italic;
}

#logo-head {
    font-weight: 900;
    color: var(--rent-green);
}

#logo-tail {
    color: var(--rent-black);
}

#header-right {
    width: 70%;
    border-width: 1px 0 1px 0;
    border-color: var(--rent-gray-deep);
    vertical-align: top;
}

#header-right-top, #header-right-bottom {
    text-align: right;
} 

#header-right-top {
    height: 30px;
    line-height: 30px;
    background-color: var(--rent-blue-deep);
    font-size: 80%;
    padding-right: 30px;
}

#header-right-bottom {
    height: 50px;
    line-height: 50px;
    background-color: var(--rent-blue);
    padding-right: 20px;
}

#languagelinks {
    font-weight: 900;
    color: var(--rent-white);
}

#languagelinks span, #languagelinks a {
    opacity: 0.42;
}

#languagelinks a {
    color: var(--rent-white);
    text-decoration: none;
}

#languagelinks a.activelanguage {
    opacity: 1;
    cursor: default;
    pointer-events: none;
}

#roleselectorform {
    display: inline-block;
}

#headermenu .user, #headermenu a {
    color: var(--rent-white);
}

#headermenu .user {
    display: inline-block;
    font-size: 12px;
    padding-right: 10px;
}

#headermenu .button {
    display: inline-block;
    color: var(--rent-white);
    background-color: var(--rent-orange);
    height: 30px;
    line-height: 30px;
    border-width: 0;
    border-radius: 40px;
    padding: 0 15px;
    margin: 0 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
}

#header .separator {
    padding: 0 3px;
}

#roleselector {
    color: inherit;
    background-color: inherit;
    font-weight: 900;
    border: 0;
}