<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Rent - Activation while logged in</title>
    <link rel="stylesheet" href="../static/css/content.css" th:href="@{/static/css/layout/contentframe.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-4.5.2/bootstrap.min.css" th:href="@{/static/css/bootstrap-4.5.2/bootstrap.min.css}"/>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="../../static/css/auth/authpages.css" th:href="@{/static/css/auth/authpages.css}"/>
    <link rel="stylesheet" href="../../static/css/rootcontent/activationloggedin.css" th:href="@{/static/css/rootcontent/activationloggedin.css}"/>
    <script src="/../../static/js/activationloggedin.js" th:src="@{/static/js/rootcontent/activationloggedin.js}"></script>
</head>
<body>
    <div id="content" layout:fragment="content">
        <h1 id="content-title" th:text="#{contentTitleActivationResult}">
            Activating registration result
        </h1>
        <div class="contentinnernarrow">
            <div th:unless="${#list.isEmpty(messageList)}" th:replace="auth/messages :: messages">messages fragment</div>
            <div th:if="${activatedUserEmail == ''}">
                <p th:text="#{continueYourWork}">You can continue your activity choosing a menu item from the left.</p>
            </div>
            <div th:unless="${activatedUserEmail == ''}">
                <p th:text="${activatedUserEmail}">activatedUserEmail</p>
                <button id="forwardButton" type="button" th:text="#{forwardToLogin}" class="btn btn-primary btn-block">Logout and forward to Login</button>
                <p th:text="#{orContinueYourWork}">You can continue your activity choosing a menu item from the left.</p>
            </div>
        </div>
    </div>
</body>
</html>