<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rent - notice board</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../static/css/rootcontent/contentcommon.css" th:href="@{/css/rootcontent/contentcommon.css}"/>
</head>
<body>
    <div>
        <div>
            Notice board Main
        </div>
        <a href="noticeboard_2">Link to Noticeboard Other</a>
    </div>
</body>
</html>
