<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<head>
    <title>Rent - Real estates</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/rootcontent/contentcommon.css" th:href="@{/css/rootcontent/contentcommon.css}"/>
</head>
<body>
    <div id="tabsform">
        <nav>
            <a href="/realestateslist" class="tabplain">List</a><!--
            --><a href="/realestatesimport" class="tabcurrent">Import</a>
        </nav>
        <div id="tabcontent" class="framed_panel">
            Panel
        </div>
    </div>
</body>
</html>
